.affix {
    top:10px;
}

.menu {
    font-size: 22px;
}

body, html {
    height: 100%;
    margin-top: -10px;
}

html {
    overflow-y: scroll;
}

body {
    background-size: 6000px 4000px;
    background-attachment: bottom;
    /* background-attachment: 50% 10%; */
    /* display: -ms-flexbox; */
    /* display: -webkit-box; */
    /* display: flex; */
}

#well h1 {
    /* TODO: Fix text-shadow */
    text-shadow: 2px 2px 4px #000;
}

p {
    width: 75%;
    margin: auto;
    font-size:20px;
}

#round {
    border-radius: 50%;
    margin-top: 30px;
    width: 100%;
}

.center {
    text-align: center;
}

.center li {
    display: inline-block;
}

img {
    width: 100%;
}

a {
    color: #000;
    /* text-decoration: none; */
}

#scale {
    max-width: 20px;
    margin-left: 30px;
}

.education {
    font-size: 18px;
    line-height: 24px;
}

.involvement {
    font-size: 18px;
    line-height: 24px;
}

.projects {
    margin-top: 30px;
}

.projects a {
    text-decoration: underline;
}

.well {
    background-color: #597A92;
}

.well a {
    color: #fff;
}

.well p {
    color: #fff;
}

.well h1 {
    color: #fff;
}
